<h2>Create your account</h2>
<form>
  <div class="form-group">
    <label for="username">Username</label>
    {{input value=username id="username"}}
    <label for="password">Password</label>
    {{input value=password id="password"}}
    <!-- <div class="form-group">
      <p>Account Type:</p>
      <label for="userType">Renter</label>
      <input type="radio" value="renter" id="userType" {{action 'setAccountType' on='change'}}>
      <label for="userType">Owner</label>
      <input type="radio" value="owner" id="userType" {{action 'setAccountType' on='change'}}>
    </div> -->
    {{radio-button value='renter' checked=selectedType}}
    {{radio-button value='owner' checked=selectedType}}

  </div>
  <button {{action 'createAccount'}}>Sign Up</button>
</form>
