<h2>Create your account</h2>
<form>
  <div class="form-group">
    <label for="username">Username</label>
    {{input class="form-control" value=username id="username"}}
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    {{input class="form-control" value=password id="password"}}
  </div>
    <div class="form-group">
      {{radio-button value='renter' checked=userType}}
      <label for="userType">Renter Account</label><span class="pipes">|</span>
      {{radio-button value='owner' checked=userType}}
      <label for="userType">Owner Account</label>
    </div>
  <button class="btn btn-success"{{action 'createAccount'}}>Sign Up</button>
</form>
