{{#if addNewBooking}}
<form>
  <div class="form-group">
    <label for=use>Use</label>
    {{input value=use id="use"}}
  </div>
  <div class="form-group">
    <label for=details>details</label>
    {{input value=details id="details"}}
  </div>
  <div class="form-group">
    <label for=when>when</label>
    {{input type="date" value=when id="when"}}
  </div>
  <div class="form-group">
    <label for=booker>Your Username</label>
    {{input value=booker id="booker"}}
  </div>
  <button class="btn btn-default"{{action 'saveBooking' listing}}>Save Booking</button>
</form>
{{else}}
<button class="btn btn-default"{{action 'revealAddNewBooking'}}>Book!</button>
{{/if}}
