<hr>
{{#link-to 'listing-detail' listing.id}}<img src={{listing.image1}} alt={{listing.title}} />
<h3>{{listing.title}}</h3>{{/link-to}}
<h5>${{listing.rate}} | {{listing.neighborhood}}</h5>
<p>
  {{listing.description}}
</p>
<h5>Average Rating: {{rating-stars listing.ratingAverage}}</h5>
