{{#if showListingForm}}
  <form >
    <div class="form-group">
      <label for="title">Title</label>
      {{input id="title" value=title placeholder=listing.title class="form-control"}}
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      {{textarea id="description" value=description placeholder=listing.description class="form-control"}}
    </div>
    <div class="form-group">
      <label for="rate">Daily rate</label>
      {{input id="rate" value=rate placeholder=listing.rate class="form-control"}}
    </div>
    <div class="form-group">
      <label for="zipcode">Zipcode</label>
      {{input id="zipcode" value=zipcode placeholder=listing.zipcode class="form-control"}}
    </div>
    <div class="form-group">
      <label for="streetAddress">Street Address</label>
      {{textarea id="streetAddress" value=streetAddress placeholder=listing.streetAddress class="form-control"}}
    </div>
    <div class="form-group">
      <label for="latitude">Latitude</label>
      {{input id="latitude" value=latitude class="form-control"}}
    </div>
    <div class="form-group">
      <label for="longitude">Longitude</label>
      {{input id="longitude" value=longitude class="form-control"}}
    </div>
    <div class="form-group">
      <label for="city">City</label>
      {{input id="city" value=city placeholder=listing.city class="form-control"}}
    </div>
    <div class="form-group">
      <label for="state">State</label>
      {{input id="state" value=state placeholder=listing.state class="form-control"}}
    </div>
    <div class="form-group">
      <label for="neighborhood">Neighborhood</label>
      {{#power-select
      selected=neighborhood
      options=neighborhoods
      onchange=(action (mut neighborhood))
      as |item|
      }}
      {{item}}
      {{/power-select}}
    </div>
    <div class="form-group">
      <label for="guidelines">Guidelines</label>
      {{textarea id="guidelines" value=guidelines placeholder=listing.guidelines class="form-control"}}
    </div>
    <div class="form-group">
      <h4>Available Amenities (check all that apply):</h4>
      <input type="checkbox" id=water checked={{listing.water}} {{action 'addAmmenity' on='change'}}>
      <label for="water">Water</label><br>
      <input type="checkbox" id=pets checked={{listing.pets}} {{action 'addAmmenity' on='change'}}>
      <label for="pets">Pets ok</label><br>
      <input type="checkbox" id=bathroom checked={{listing.bathroom}} {{action 'addAmmenity' on='change'}}>
      <label for="bathroom">Bathroom</label><br>
      <input type="checkbox" id=parking checked={{listing.parking}} {{action 'addAmmenity' on='change'}}>
      <label for="parking">Parking</label><br>
      <input type="checkbox" id=alcohol checked={{listing.alcohol}} {{action 'addAmmenity' on='change'}}>
      <label for="alcohol">Alcohol is ok</label><br>
      <input type="checkbox" id=smoking checked={{listing.smoking}} {{action 'addAmmenity' on='change'}}>
      <label for="smoking">Smoking</label><br>
      <input type="checkbox" id=wifi checked={{listing.wifi}} {{action 'addAmmenity' on='change'}}>
      <label for="wifi">Wifi</label><br>
      <input type="checkbox" id=fires checked={{listing.fires}} {{action 'addAmmenity' on='change'}}>
      <label for="fires">Fires</label><br>
      <input type="checkbox" id=rvHookup checked={{listing.rvHookup}} {{action 'addAmmenity' on='change'}}>
      <label for="rvHookup">RV hookup</label><br>
      <input type="checkbox" id=electricity checked={{listing.electricity}} {{action 'addAmmenity' on='change'}}>
      <label for="electricity">Electricity</label><br>
      <input type="checkbox" id=grill checked={{listing.grill}} {{action 'addAmmenity' on='change'}}>
      <label for="grill">Grill</label>
    </div>
    <div class="form-group">
      <h4>This property is good for (check all that apply):</h4>
      <input type="checkbox" id=camping checked={{listing.camping}} {{action 'addUsage' on='change'}}>
      <label for="camping">Camping</label><br>
      <input type="checkbox" id=gardening checked={{listing.gardening}} {{action 'addUsage' on='change'}}>
      <label for="gardening">Gardening</label><br>
      <input type="checkbox" id=events checked={{listing.events}} {{action 'addUsage' on='change'}}>
      <label for="events">Events</label>
      <h5>Have Multiple Images? Put them in below.</h5>
      <hr>
      <div class="form-group">
        <label for="image1">Featured Image URL (choose wisely- this will be your featured image!)</label>
        {{input id="image1" value=image1 class="form-control" placeholder=listing.image1}}
      </div>
      <div class="form-group">
        <label for="image2">Image URL</label>
        {{input id="image2" value=image2 class="form-control" placeholder=listing.image2}}
      </div>
      <div class="form-group">
        <label for="image3">Image URL</label>
        {{input id="image3" value=image3 class="form-control" placeholder=listing.image3}}
      </div>
      <div class="form-group">
        <label for="image4">Image URL</label>
        {{input id="image4" value=image4 class="form-control" placeholder=listing.image4}}
      </div>
    </div>
    <button class="btn btn-default" {{action 'updateListing' listing}}>Save Update</button>
    <button class="btn btn-default" {{action 'hideListingForm'}}>Cancel</button>
  </form>
  <br>
{{else}}
  <button class="btn btn-default"{{action 'showListingForm'}}>Update listing</button>
  <button class="btn btn-default" {{action 'deleteListing' listing}}>Delete listing</button>
  <br>
{{/if}}
