
<div class="row browse">
  <div class="col-sm-6">
    <h3>Browse Listings</h3>
    <input type="checkbox" id="gardening" checked=checked {{action 'gardeningUse' on='change'}}>
    <label for="gardening">Gardening<span class="pipes">|</span></label>
    <input type="checkbox" id="camping" checked=checked {{action 'campingUse' on='change'}}>
    <label for="camping">Camping<span class="pipes">|</span></label>
    <input type="checkbox" id="events" checked=checked {{action 'eventsUse' on='change'}}>
    <label for="events">Events</label>
    <div class="form-group neighborhood-sort">
      <label for="neighborhoodChosen">Neighborhood</label>
      {{#power-select
        selected=showNeighborhood
        options=neighborhoods
        onchange=(action (mut showNeighborhood))
        as |item|
      }}
      {{item}}
      {{/power-select}}
    </div>
  </div>
</div>

<hr>

{{#each listingsByUse as |listing|}}
  {{listing-tile listing=listing class="col-xs-4"}}
{{/each}}
