<h1>Listings</h1>

<h4>Sort listings by use:</h4>
<input type="checkbox" id="gardening" {{action 'gardeningUse' on='change'}}>
<label for="gardening">Gardening</label><br>
<input type="checkbox" id="camping" {{action 'campingUse' on='change'}}>
<label for="camping">Camping</label><br>
<input type="checkbox" id="events" {{action 'eventsUse' on='change'}}>
<label for="events">Events</label><br>

<hr>

<h4>Sort listings by neighborhood:</h4>
<input type="checkbox" id="downtown" {{action 'chooseNeighborhood' on='change'}}>
<label for="downtown">Downtown</label><br>
<input type="checkbox" id="NW Portland/Nob Hill" {{action 'chooseNeighborhood' on='change'}}>
<label for="NW Portland/Nob Hill">NW Portland/Nob Hill</label><br>


{{#each listingsByUse as |listing|}}
  {{listing-tile listing=listing}}
{{/each}}
