<hr>
<div class="col-sm-4">
  {{#link-to 'listing-detail' listing.id}}<img src={{listing.image1}} alt={{listing.title}} />
  <h3>{{listing.title}}</h3>{{/link-to}}
  <h5>${{listing.rate}} | {{listing.neighborhood}}</h5>

  {{#if listing.camping}}
      Camping <span class="pipes">|</span>
  {{/if}}
  {{#if listing.gardening}}
      Gardening<span class="pipes">|</span>
  {{/if}}
  {{#if listing.events}}
      Events

  {{/if}}

  <h5>{{rating-stars listing.ratingAverage}}</h5>
</div>
