<h3>Add a new listing</h3>
<form >
  <div class="form-group">
    <label for="title">Title</label>
    {{input id=title value="title" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    {{textarea id=description value="description" class="form-control"}}
  <div class="form-group">
    <label for="rate">Daily rate</label>
    {{input id=rate value="rate" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="image">Image URL</label>
    {{input id=image value="image" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="zipcode">Zipcode</label>
    {{input id=zipcode value="zipcode" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="streetAddress">Street Address</label>
    {{textarea id=streetAddress value="streetAddress" class="form-control"}}
  <div class="form-group">
    <label for="city">City</label>
    {{input id=city value="city" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="state">State</label>
    {{input id=state value="state" class="form-control"}}
  </div>
  <!-- MAKE THIS A DROPDOWN -->
  <div class="form-group">
    <label for="neighborhood">Neighborhood</label>
    {{input id=neighborhood value="neighborhood" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="guidelines">Guidelines</label>
    {{textarea id=guidelines value="guidelines" class="form-control"}}
  <div class="form-group">
    <h4>Available Amenities (check all that apply):</h4>
    <label for="camping">Camping</label>
    {{input id=camping value="camping" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="state">State</label>
    {{input id=state value="state" class="form-control"}}
  </div>
</form>
