{{#if loginOwnerForm}}
<h2>Log In to your Account:</h2>
<form>
  <div class="form-group">
    <label for="username">Username</label>
    {{input value=ownerUsername id="owner-username" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    {{input type="password" value=ownerPassword id="owner-password" class="form-control"}}
  </div>
  <button class="btn btn-default"{{action 'ownerLogin'}}>Log In as Owner</button>
</form>
{{else}}
    <button class="btn btn-default"{{action 'loginOwnerFormShow'}}>Log In as Owner</button>
{{/if}}
