{{#if loginRenterForm}}
  <h2>Log In to your Account:</h2>
  <form>
    <div class="form-group">
      <label for="username">Username</label>
      {{input value=username id="username"}}<br>
      <label for="password">Password</label>
      {{input type="password" value=password id="password"}}
    </div>
    <button class="btn btn-default"{{action 'renterLogin'}}>Log In As Renter</button>
  </form>
{{else}}
  <button class="btn btn-default"{{action 'loginRenterFormShow'}}>Log In As Renter</button>
{{/if}}
