<!-- <div class="col-sm-5">
  <img class="renter" src={{renter.image}} alt={{renter.username}} />
  <h1>{{renter.username}}</h1>
  <p><strong>About {{renter.username}}:</strong> <br>{{renter.description}}</p>
</div> -->
