{{#if updateRenterForm}}
<h2>Update your Profile:</h2>
<form>
  <div class="form-group">
    <label for="description">Description</label>
    {{input value=description id="description"}}
    <label for="image">Image URL</label>
    {{input value=image id="image"}}
  </div>
  <button {{action 'updateRenter' renter}}>Save</button>
</form>
{{else}}
  <button {{action 'updateRenterFormShow'}}>Update your Profile</button>
{{/if}}
