<div class="container push-down">

  <div class="row">
    {{listing-details listing=model.listing}}

    {{google-map listing=model.listing location=model.listing.streetAddress}}
  </div>

<div class="col-sm-5">
  {{review-new listing=model.listing saveReview="saveReview"}}
  {{booking-new listing=model.listing saveBooking="saveBooking"}}

  <hr>

  {{#each model.listing.reviews as |review|}}
    {{review-tile review=review}}
  {{/each}}
</div>


</div>
