<div class="container">
  <div class="listing-form row">
    {{owner-details owner=model}}
    {{listing-new owner=model saveListing="saveListing"}}
    {{owner-update owner=model updateOwner="updateOwner"}}
    <h3>My listings:</h3>
    <hr>
  </div>


  <div class="owner-listing-tiles col-sm-12">
    <div class="col-sm-4">
      {{#each model.listings as |listing|}}
      {{listing-tile listing=listing}}
      {{listing-update listing=listing updateListing="updateListing" destroyListing="destroyListing"}}
      {{/each}}
      <hr>
    </div>
  </div>
</div>
